:root {
    --backgroundColor: #1B2430;
    --paragraphTextColor: #FFFFFF;
    --borderColor: #4E4E4E;
    --linkHoverColor: #999999;
    --codeColor: #0d1118;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--backgroundColor);
    color: var(--paragraphTextColor);
}

header {
    font-size: 2rem;
    font-weight: 600;
}

#navbar {
    border-right: 6px solid var(--borderColor); 
}

#navbar header {
    margin: 24px;
}

.nav-link {
    color: var(--paragraphTextColor);
    display: block;
    text-decoration: none;
    padding: 16px;
    border-bottom: 2px solid var(--borderColor);
}

.nav-link:hover {
    color: var(--linkHoverColor);
}

.nav-link:first-of-type {
    border-top: 2px solid var(--borderColor);
}

#main-doc {
    padding: 36px;
}

pre {
    background-color: var(--codeColor);
    border-radius: 8px;
}

code {
    font-family: "Consolas", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New";
}