:root {
    --backgroundColor: #1B2430;
    --paragraphTextColor: #FFFFFF;
    --borderColor: #4E4E4E;
    --linkHoverColor: #999999;
    --codeColor: #0d1118;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--backgroundColor);
    color: var(--paragraphTextColor);
}

header {
    font-size: 2rem;
    font-weight: 600;
}

#navbar {
    position: fixed;
    width: 350px;
    height: 100%;
    left: 0;
    top: 0;
    border-right: 6px solid var(--borderColor); 
}

#navbar header {
    text-align: center;
    margin: 24px;
}

.nav-link {
    color: var(--paragraphTextColor);
    display: block;
    text-decoration: none;
    padding: 16px;
    border-bottom: 2px solid var(--borderColor);
}

.nav-link:hover {
    color: var(--linkHoverColor);
}

.nav-link:first-of-type {
    border-top: 2px solid var(--borderColor);
}

#main-doc {
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 360px;
    padding: 36px;
}

pre {
    background-color: var(--codeColor);
    border-radius: 8px;
}

code {
    font-family: "Consolas", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New";
}

li {
    margin-bottom: 12px;
}

ul {
    margin-top: 16px;
}

#Reference a {
    color: var(--paragraphTextColor);
}

#Reference a:hover {
    color: var(--linkHoverColor);
}


